.note-leftnav-wrapper {
  height: 100%;
  background-color: var(--theme-nav-backgorund-color);
  border-right: 1px solid var(--theme-normal-border-color);
  padding: 10px;
  box-sizing: border-box;

  .note-nav-item {
    display: flex;
    height: 32px;
    padding: 4px 8px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: rgb(193, 193, 193);

    &:hover {
      border-radius: 6px;
      background-color: var(--theme-nav-hover-background-color);
    }

    .icon-wrapper {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
}
